<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="atscale-backups.ZPM">
    <Module>
      <Name>atscale-backups</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="AtScaleBackups.utils.CLS"/>
      <FileCopy Name="src/AtScaleBackups/AtScaleBackups.py" Target="/usr/irissys/mgr/python/"/>
      <FileCopy Name="src/AtScaleBackups/AtScaleBackupsSetup.py" Target="/usr/irissys/mgr/python/"/>
      <Invoke Class="AtScaleBackups.utils" Method="setup"></Invoke>
    </Module>
  </Document>
</Export>